@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<body>
<div>
    <form method="post">
        <input type="hidden" value="@ViewBag.Id" name="Id"/>
      <tr>
        <td>
            <input type="submit" value="Удалить пользователя"/>
        </td>
    </tr>
    </form>

    </div>
    </body>
    </html>